@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primereact, tailwind-utilities;

@layer base {
  :root {
    --primary: 234 37% 10%;
    // --primary: 234 37% 10%;
    --secondary: 42 76% 59%;
    --body-background: #fafafa;
    --sidebar-background: #ffffff;
    --card-background: #ffffff;
    --inputBackground: #ffffff;
    --inputDisabled: #d2d4da;
    --text1: #181d27;
    --text2: #101223;
    --text3: #404252;
    --text4: #a4a7ae;
    --text5: #9496a1;
    --border: #f3f4f8;
    --border1: #e9eaeb;
    --muted1: #fafafa;
    --muted2: #f3f4f8;
    --muted3: #f5f5f5;
    --white: #ffffff;
    --black: #000000;
    --blue: 223 79% 40%;
    --green: 158 100% 37%;
    --red: 6 100% 45%;
    --yellow: 44 100% 53%;
    --scrollbarThump: #cbd5e1;
    --gradientBottom: linear-gradient(166.73deg, #1a1d1f -88.11%, rgba(26, 29, 31, 0.3) 66.05%, rgba(55, 64, 223, 0.18) 117.44%);
    --gradientSide: linear-gradient(134.05deg, #3740df -22%, rgba(26, 29, 31, 0.3) 17.7%, #1a1d1f 98.79%);
  }
  .dark {
    --primary: 0 0% 100%;
    --secondary: 42 76% 59%;
    --body-background: #202020;
    --sidebar-background: #161717;
    --card-background: #202020;
    --inputBackground: #111315;
    --inputDisabled: #3d3e40;
    --text1: #ffffff;
    --text2: #dedede;
    --text3: #b3b3b3;
    --text4: #828690;
    --text5: #555555;
    --border: #393838;
    --border1: #404040;
    --disabled: #4a5568;
    --muted1: #2b2b2b;
    --muted2: #2b2b2b;
    --muted3: #1a202c;
    --white: #000000;
    --black: #ffffff;
    --blue: 213 100% 67%;
    --green: 142 69% 58%;
    --red: 0 91% 71%;
    --yellow: 45 93% 47%;
    --scrollbarThump: #262626;
    --gradientBottom: linear-gradient(166.73deg, #1a1d1f -88.11%, rgba(26, 29, 31, 0.3) 66.05%, rgba(55, 64, 223, 0.18) 117.44%);
    --gradientSide: linear-gradient(134.05deg, #3740df -22%, rgba(26, 29, 31, 0.3) 17.7%, #1a1d1f 98.79%);
  }
}
html {
  @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-scrollbarThump;
  scroll-behavior: smooth; // Add smooth scroll behavior
  // font-size: 15px;
}
body {
  font-family: "Plus Jakarta Sans", serif;
  height: 100vh;
  overflow-x: hidden;
  @apply bg-bodyBackground;
  // font-size: 15px;
}

#root {
  height: 100%;
}
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
.intelinput,
.p-select,
.phone-input,
select {
  @apply w-full h-[45px] rounded-md border border-border2 bg-inputBackground px-3 py-2 text-[15px] font-[500] text-text1 placeholder-text4 focus:border-primary focus:shadow-card focus:outline-none disabled:bg-inputDisabled disabled:text-gray-500 disabled:cursor-not-allowed;
}
/* Custom styling for checkboxes and radio buttons */
[type="checkbox"],
[type="radio"] {
  @apply h-5 w-5 rounded border border-gray-300 text-primary checked:bg-primary;
}
.searchInputField {
  @apply grid grid-cols-1;
  input {
    @apply col-start-1 row-start-1 block sm:pl-12 sm:text-sm/6;
  }
  .icon {
    @apply pointer-events-none col-start-1 row-start-1 ml-3 size-6 self-center text-text5;
  }
}
.theme-scrollbar {
  @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-scrollbarThump;
}
.title-text {
  @apply text-lg text-text1 font-bold;
  &.sm {
    @apply text-base;
  }
  &.md {
    @apply text-sm;
  }
  &.lg {
    @apply text-lg;
  }
  &.xl {
    @apply text-xl;
  }
  &.xxl {
    @apply text-2xl;
  }
}
.btn {
  @apply rounded text-xs px-2 py-1 font-semibold shadow-sm;
}
.btn.btn-md {
  @apply px-2.5 py-1.5 text-sm min-w-[96px];
}
.btn.btn-lg {
  @apply px-3 py-2 text-sm min-w-[96px];
}
.btn.btn-xl {
  @apply px-3.5 py-2.5 text-sm min-w-[115px];
}
.btn.btn-2xl {
  @apply px-3.5 py-3 text-[16px] min-w-[115px] min-h-[50px];
}
.btn-primary {
  @apply bg-primary text-themeWhite ring-1 ring-inset ring-primary hover:bg-primary/90;
}
.btn-secondary {
  @apply bg-secondary text-themeWhite ring-1 ring-inset ring-secondary hover:bg-secondary/90;
}
.btn-white {
  @apply text-text2 ring-1 ring-inset ring-border2 hover:bg-muted2;
}
.btn-cancel {
  @apply bg-cardBackground text-text3 ring-1 ring-inset ring-border hover:bg-muted2;
}
.btn-icon {
  @apply flex items-center justify-center gap-2 whitespace-nowrap;
  svg,
  i,
  span {
    @apply text-[15px] w-5 h-5;
  }
}
.btn-only-icon {
  @apply p-2 text-[15px];
  svg,
  i,
  span {
    @apply text-[15px] w-5 h-5;
  }
}
.back-btn {
  @apply text-xs w-[30px] h-[30px] flex items-center justify-center shadow-none rounded-full  hover:border-primary;
}
.btn:disabled {
  // @apply bg-inputDisabled text-text5 cursor-not-allowed ring-1 ring-inset !ring-border2 hover:bg-inputDisabled;
}
// Status button styles
.status-button {
  @apply px-2 rounded-lg font-semibold py-[7px] w-full text-[13px] flex justify-between items-center;

  &.status-all {
    @apply ring-primary/80 border border-primary/40;
    &.active {
      @apply bg-primary text-themeWhite shadow-lg;
    }
    &:not(.active) {
      @apply bg-primary/5 text-primary;
    }
    .status-count {
      @apply ring-[1px] ring-primary rounded-xl ms-2 px-2 py-[1px] font-bold;
      &.active {
        @apply bg-themeWhite text-primary;
      }
      &:not(.active) {
        @apply bg-primary text-themeWhite;
      }
    }
  }

  &.status-running {
    @apply ring-themeGreen border border-themeGreen/40;
    &.active {
      @apply bg-themeGreen text-white shadow-lg;
    }
    &:not(.active) {
      @apply bg-themeGreen/10 text-themeGreen;
    }
    .status-count {
      @apply ring-[1px] ms-2 ring-themeGreen rounded-xl px-2 py-[1px] font-bold;
      &.active {
        @apply bg-white text-themeGreen;
      }
      &:not(.active) {
        @apply bg-themeGreen text-white;
      }
    }
  }

  &.status-idling {
    @apply ring-themeYellow border border-themeYellow/40;
    &.active {
      @apply bg-themeYellow text-white shadow-lg;
    }
    &:not(.active) {
      @apply bg-themeYellow/10 text-themeYellow;
    }
    .status-count {
      @apply ring-[1px] ring-themeYellow rounded-xl px-2 ms-2 py-[1px] font-bold;
      &.active {
        @apply bg-white text-themeYellow;
      }
      &:not(.active) {
        @apply bg-themeYellow text-white;
      }
    }
  }

  &.status-parked {
    @apply ring-themeRed border border-themeRed/40;
    &.active {
      @apply bg-themeRed text-white shadow-lg;
    }
    &:not(.active) {
      @apply bg-themeRed/10 text-themeRed;
    }
    .status-count {
      @apply ring-[1px] ring-themeRed rounded-xl px-2 ms-2 py-[1px] font-bold;
      &.active {
        @apply bg-white text-themeRed;
      }
      &:not(.active) {
        @apply bg-themeRed text-white;
      }
    }
  }
}
.card {
  @apply bg-cardBackground shadow-card rounded-xl p-4;
  .card-header {
    @apply flex items-center justify-between bg-muted1 rounded-b-none rounded-t-xl mt-[-20px] mr-[-17px] ml-[-17px] py-4 px-6;
  }
  .card-body {
    @apply p-4;
  }
  .card-title {
    @apply text-text1 font-semibold text-lg;
  }
}
// Labels and error text
label {
  @apply block text-[15px] font-medium text-text2;
  .required {
    @apply text-themeRed;
  }
}
.error-text {
  @apply text-themeRed flex text-sm items-center pt-2 gap-1;
  svg,
  i,
  span {
    @apply w-4 h-4;
  }
}
// Dialogue Css
.p-dialog-mask {
  @apply backdrop-blur-sm bg-black/60;
}
// Input Switch Css
.p-inputswitch .p-inputswitch-slider {
  @apply bg-muted3;
}
.p-inputswitch.p-highlight .p-inputswitch-slider {
  @apply bg-gray-600;
}

.p-toast-message-content {
  svg {
    @apply w-[23px] h-[23px];
  }
  .p-toast-icon-close {
    @apply hidden;
  }
}
//date range picker
.custom-date-range {
  .rdrMonth {
    @apply pb-[10px];
  }
  .rdrDay.rdrDaySelected .rdrDayNumber span {
    background-color: var(--primary) !important; // Change this to your desired color
    color: var(--white) !important;
  }
  .rdrDay.rdrDayStartPreview .rdrDayNumber span,
  .rdrDay.rdrDayEndPreview .rdrDayNumber span,
  .rdrDay.rdrDayInPreview .rdrDayNumber span {
    background-color: var(--primary) !important; // Change this to your desired color
    color: var(--white) !important;
  }
  .rdrDay.rdrDayStartOfMonth .rdrDayNumber span,
  .rdrDay.rdrDayEndOfMonth .rdrDayNumber span {
    background-color: var(--primary) !important; // Change this to your desired color
    color: var(--white) !important;
  }
}
// video js cutom play button css
.video-js {
  border-radius: 10px !important;
}
.vjs-default-skin .vjs-big-play-button {
  border: none !important;
  background: none !important;
}
.vjs-default-skin:hover .vjs-big-play-button {
  background: none !important;
}
/* Hide default play button icon */
.vjs-default-skin .vjs-big-play-button .vjs-icon-placeholder:before {
  display: none;
}
.vjs-default-skin:hover .vjs-big-play-button {
  background: none !important;
}
.na {
  @apply text-gray-300 text-sm font-semibold;
}
//dshboard scale
.dashboard_page {
  @media (min-width: 1000px) and (max-width: 1600px) {
    zoom: 0.85;
  }
}
.theme-popOver {
  .p-overlaypanel-content {
    @apply p-[10px_15px];
  }
}
.cursor-pointer {
  canvas {
    cursor: pointer;
  }
}
.p-inputswitch-input {
  @apply w-full h-full;
}
.gm-style {
  background-color: #b5d4e2 !important;
}
.gm-style-cc,
.gmnoprint a,
.gmnoprint span,
.gm-style-cc span {
  display: none !important;
}
// map infowindo arow css
.gm-style .gm-style-iw-tc::after {
  background: hsl(var(--primary)) !important;
}
/// map infowindow css
.gm-style-iw {
  background: hsl(var(--primary)) !important;
  .gm-ui-hover-effect > span {
    background: #ffffff !important;
  }
  .gm-style-iw-ch {
    display: none !important;
  }
  .gm-style-iw-chr {
    position: absolute;
    right: 0;
    top: -5px;
  }
  .gm-style-iw-d {
    margin-bottom: -12px !important;
    margin-right: -19px !important;
  }
}

.loader {
  &-backdrop {
    @apply z-[1301] text-white backdrop-blur-sm bg-white/[0.7];
  }
  &-container {
    @apply flex justify-center items-center h-full w-full absolute top-0 left-0 bg-[#efefefb3] z-[1298];
    backdrop-filter: blur(2px);
  }

  &-modern {
    @apply flex justify-around items-center w-[100px] h-[100px];
  }

  &-dot {
    @apply w-[20px] h-[20px] rounded-full bg-blue-500;
    animation: jump 1s infinite;
  }
  &-dot1 {
    @apply bg-blue-500;
    animation-delay: 0s;
  }
  &-dot2 {
    @apply bg-red-500;
    animation-delay: 0.2s;
  }
  &-dot3 {
    @apply bg-yellow-500;
    animation-delay: 0.4s;
  }
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
